body {
	font-family: sans-serif;
	text-align:center;
}

a {
	text-decoration:none;
}

.sharing {
	position:absolute;
	top:100%;
	margin-top:-33px;
	
	border-top:solid 1px black;
	width:100%;
	padding-top:3px;
}

.button {
	font-size:2em;
	border-radius: 20px;
	padding:10px;
	font-weight:bold;
	color:black;
	border: 10px solid black;
}

#play-again {
	width:200px;
	margin-left:auto;
	margin-right:auto;
	font-size:2em;
}

#play {
	
	position:absolute;
    	top:50%;
    	left:50%;
	margin-left:-115px;
	margin-top:-1em;
	width: 200px;
	text-align:center;
}

#options {
	display:none;
}

#waiting {
}

#results {
	display:none;
}

#results img {
	vertical-align:middle;
}

#beats {
	font-weight:bold;
	font-size: 2em;
}
