<!DOCTYPE html> 
<html>
<head>
	<link rel="stylesheet" href="/static/style.css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"/>
	</script>
	<script>
		function show_result(result) {
			console.log("Result:")
			console.log(result);
			clear_options();
			$("#try-again").hide();
			$("#options").hide();
			$("#play-again").show();

			switch(result["result"]){
				case "win":
					$("#result").text("You win!");
					$("#beats").text("beats");
					$('body').css('background-color', '#afa');
				break;
				case "lose":
					$("#result").text("You lose!");
					$("#beats").text("loses to");
					$('body').css('background-color', '#faa');
				break;
				case "draw":
					$("#result").text("Its a draw!");
					$("#beats").text("draws with");
				break;
			}

			$("#results").show();
			your_choice= result["you"]
			opponent_choice= result["opponent"]

			$("#your-move").attr("src", im_url(your_choice));
			$("#opponent-move").attr("src", im_url(opponent_choice));
		}

		function clear_options(){

			weapons = ["rock","paper","scissors"]
			for (i in weapons) {
				x = weapons[i]
				$("#"+x+" img").attr("src", im_url(x));
				$("#"+x).attr("href","javascript:select_option('"+x+"')");
			}

		}

		function im_url(weapon, color) {
			if (typeof(color) == "undefined")
				color = "white";
			return "/static/images/" + weapon + "-" + color + ".png";
		}

		function select_option(weapon) {
			clear_options();
			$("#options a").attr("href","#");
			$("#"+weapon+" img").attr("src", im_url(weapon, "black"));


			result = "draw";

			if (weapon=="paper") {
				result = "win";
			} else if (weapon=="scissors"){
				result = "lose";
			}

			$.post("play",{"option":weapon},function(data){
				show_result(data);
			}, 'json')
		}

		function play_again(){
			$("#results").hide();
			$("#waiting").show();
			$('body').css('background-color', 'white');
			check_for_opponent();
			clear_options();
		}

		function on_opponent_found() {
			$("#waiting").hide();
			$("#options").show();
			$("#link-prompt").hide();

		}

		function check_for_opponent(){
			$.get("wait",function(data){
				on_opponent_found();
			})
		}

		$(function(){
			$("#game-url").text(location.href);
			check_for_opponent();
			// Preload:
			$.each(["rock", "paper", "scissors"], function() {
				new Image().src = im_url(this, "black");
			});
		})
	</script>
	<title>Roshambo</title>
</head>
<body>
	<div id="waiting">
		<h1>Waiting for your opponent</h1>
		<div id="link-prompt">
			<h2>Send this link to your opponent:<br/><span id="game-url"></span></h2>
		</div>
	</div>

	<div id="results">
		<h1 id="result"></h1>
		<img id="your-move"/>
		<span id ="beats">beats</span>
		<img id="opponent-move"/>
		<h1 id="try-again">Try again</h1>

		<div>
		<a href="javascript:play_again()">
		<div id="play-again" class="button">Play again</div>
		</a>
		</div>
	</div>
	<div id="options">
		<h1>Choose your weapon</h1>
		<a id="rock" href='javascript:select_option("rock")'><img src="/static/images/rock-white.png"></a>
		<a id="paper" href='javascript:select_option("paper")'><img src="/static/images/paper-white.png"></a>
		<a id="scissors" href='javascript:select_option("scissors")'><img src="/static/images/scissors-white.png"></a>

	</div>
</body>
</html>
