<!DOCTYPE html> 
<html>
<head>
	<link rel="stylesheet" href="/static/style.css"/>
	<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>

	<script src="http://connect.facebook.net/en_US/all.js#appId=207503559308979&amp;xfbml=1"></script>
	<title>Play Roshambo!</title>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2959473-4']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>	
	<a href="{0}/">
		<h2 id="play" class="button">Play<br/>Roshambo</h2>
	</a>

	<div class="sharing">
	<span id="fb-root"></span>
	<fb:like href="" send="false" width="110px" show_faces="true" font=""></fb:like>
	<a href="http://twitter.com/share" class="twitter-share-button">Tweet</a>
	<g:plusone size="medium" width="60px" annotation="inline"></g:plusone>
	</div>

</body>
</html>
