<!DOCTYPE html> 
<html>
<head>
	<link rel="stylesheet" href="/static/style.css"/>
	<title>Play Roshambo!</title>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2959473-4']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>	
	<a href="{0}/">
		<h2 id="play" class="button">Play<br/>Roshambo</h2>
	</a>

</body>
</html>
